@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Kategori Liste</h1>
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">+ Yeni Kategori Ekle</a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryID" class="btn btn-success">Düzenle</a>
                    <a asp-action="Details" asp-route-id="@item.CategoryID" class="btn btn-warning">Detay</a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryID" class="btn btn-danger" onclick="return confirm('Are you sure?')">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
