@model IEnumerable<InfoTechMVCCoreTemplate26052024.Models.Ogrenci>

@{
    ViewData["Title"] = "ListeKatilmayanlar";
}

<h1>Başvurudan Vazgeçenler</h1>
<hr />

<p>
    <a asp-action="Apply" asp-controller="Egitim">Öğrenci Ekle</a>
</p>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                E-Posta
            </th>
            <th>
                Katılım Durumu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Katilim)
            </td>
            <td>
                    @Html.ActionLink("Düzenle", "Edit", new { ID = item.ID }, new { @class = "btn btn-warning btn-xs" })
                    @Html.ActionLink("Sil", "Delete", new { ID = item.ID }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
}
    </tbody>
</table>
