@using IA_CoreMVC_FluentAPI_Repository_Library.Models.Abstract
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IA_CoreMVC_FluentAPI_Repository_Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IA_CoreMVC_FluentAPI_Repository_Library.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>

    <div class="row">
        <div class="col-md-3">
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" style="height:170vh;">
                <div class="app-brand demo">
                    <a asp-action="Index" asp-controller="Home" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <box-icon name='book-bookmark'></box-icon>
                        </span>
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">Library</span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboard -->
                    <li class="menu-item @(Html.IsActive("Operation", "Index"))">
                        <a asp-action="Index" asp-controller="Operation" class="menu-link">
                            <div data-i18n="Analytics">Home Page</div>
                        </a>
                    </li>
                    <!-- Writers -->
                    <li class="menu-item @(Html.IsActive("Writer", "Index"))">
                        <a asp-action="Index" asp-controller="Writer" class="menu-link">
                            <div data-i18n="Analytics">Writers</div>
                        </a>
                    </li>
                    <!-- Students -->
                    <li class="menu-item @(Html.IsActive("Student", "Index"))">
                        <a asp-action="Index" asp-controller="Student" class="menu-link">
                            <div data-i18n="Analytics">Students</div>
                        </a>
                    </li>
                    <!-- Book Types -->
                    <li class="menu-item @(Html.IsActive("BookType", "Index"))">
                        <a asp-action="Index" asp-controller="BookType" class="menu-link">
                            <div data-i18n="Analytics">Book Types</div>
                        </a>
                    </li>
                    <!-- Books -->
                    <li class="menu-item @(Html.IsActive("Book", "Index"))">
                        <a asp-action="Index" asp-controller="Book" class="menu-link">
                            <div data-i18n="Analytics">Books</div>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>

        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
