@model IEnumerable<Yazar>

@{
    ViewData["Title"] = "Yazar Listesi";
}

<h1>Yazar Listesi</h1>
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Yazar Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Yazarad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yazarsoyad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Yazarad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yazarsoyad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Yazarno" class="btn btn-success">Güncelle</a>
                    <a asp-action="Details" asp-route-id="@item.Yazarno" class="btn btn-warning">Detay</a>
                    <a asp-action="Delete" asp-route-id="@item.Yazarno" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
