@model IEnumerable<Product>

@{
    ViewData["Title"] = "ProductList";
}

<h1>Product List</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ProductStockQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductStockQuantity)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.ProductID }, new { @class = "btn btn-warning btn-xs" })

                    <button class="btn btn-danger" onclick="deleteProduct();">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <p><strong>Total Product Price:</strong> @ViewData["TotalProductPrice"] $</p>
    <p><strong>Total Stock Quantity:</strong> @ViewData["TotalStockQuantity"]</p>
</div>
