@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product List";
}

<h1>Product List</h1>

<p>
    <a asp-action="Add" asp-controller="Product" class="btn btn-primary">Add New Product</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ProductStockQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductStockQuantity)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.ProductID }, new { @class = "btn btn-warning btn-xs" })

                    <button class="btn btn-danger" onclick="deleteProduct();">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <h5>Total Product Price: @ViewBag.TotalPrice</h5>
    <h5>Total Stock Quantity: @ViewBag.TotalStockQuantity</h5>
</div>
