@model IEnumerable<IA_RickAndMortyApiApp_07072024.Models.Character.Result>

@{
    ViewData["Title"] = "Characters";
}

<h2>Characters</h2>
<hr />

<!-- Searching form -->
<form asp-action="Index" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="searchString" class="form-control" placeholder="Search by name" value="@ViewBag.SearchString" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary">Search</button>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var character in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="@character.image" class="card-img-top img-fluid" alt="@character.name">
                <div class="card-body">
                    <h5 class="card-title">@character.name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@character.status</h6>
                    <p class="card-text">Species: @character.species</p>
                    <a asp-action="Details" asp-route-id="@character.id" class="btn btn-warning">Details</a>
                </div>
            </div>
        </div>
    }
</div>

<nav>
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage + 1)">Next</a>
            </li>
        }
    </ul>
</nav>
