@model IEnumerable<Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Student List</h1>
<hr />

<p>
    <a asp-action="Create" asp-controller="Student" class="btn btn-primary">Create New</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Point)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentID" class="btn btn-success">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.StudentID" class="btn btn-warning">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.StudentID" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?');">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
