@model Ogrenci

@{
    ViewData["Title"] = "Öğrenci Detay";
}

<h1>Öğrenci Detay</h1>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ograd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ograd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ogrsoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ogrsoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinsiyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dtarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dtarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="List" asp-controller="Ogrenci" class="btn btn-primary">Listeye Dön</a>
</div>
