@model Iletisim

@{
    ViewData["Title"] = "Details";
}

<h1>Mesaj Detayı</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EPosta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EPosta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesaj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Listeye Dön</a>
</div>
